<div id="container_sitemap">
  <div id="container_sitemap_content">
    <ul class="sitemap_list">
      <li><a href='{{ .LanguagePrefix }}/'>{{ i18n "sitemapWhatIsNewsDemon" }}</a></li>
      <li><a href='{{ .LanguagePrefix }}/'>{{ i18n "sitemapMemberBenefits" }}</a></li>
      <li><a href='{{ .LanguagePrefix }}/'>{{ i18n "sitemapAdvantages" }}</a></li>
      <li><a href='{{ .LanguagePrefix }}/'>{{ i18n "sitemapNewsgroupRetention" }}</a></li>
      <li><a href='{{ .LanguagePrefix }}/'>{{ i18n "sitemapUsenetTerms" }}</a></li>
      <li><a href='{{ .LanguagePrefix }}/'>{{ i18n "sitemapHistoryOfUsenetNewsgroups" }}</a></li>
      <li><a href='{{ .LanguagePrefix }}/'>{{ i18n "sitemapBlog" }}</a></li>
    </ul>

    <ul class="sitemap_list">
      <li><a href='{{ .LanguagePrefix }}/'>{{ i18n "sitemapAffiliates" }}</a></li>
      <li><a href='{{ .LanguagePrefix }}/'>{{ i18n "sitemapDMCA" }}</a></li>
      <li><a href='{{ .LanguagePrefix }}/'>{{ i18n "sitemapPrivacyPolicy" }}</a></li>
      <li><a href='{{ .LanguagePrefix }}/'>{{ i18n "sitemapTermsAndConditions" }}</a></li>
      <li><a href='{{ .LanguagePrefix }}/'>{{ i18n "sitemapSitemap" }}</a></li>
    </ul>

    <ul class="sitemap_list">
      <li><a href='{{ .LanguagePrefix }}/'>{{ i18n "sitemapSupportFAQs" }}</a></li>
      <li><a href='{{ .LanguagePrefix }}/contact_us/'>{{ i18n "sitemapContactUs" }}</a></li>
      <li><a href='{{ .LanguagePrefix }}/'>{{ i18n "sitemapServerStatus" }}</a></li>
      <li><a href='{{ .LanguagePrefix }}/'>{{ i18n "sitemapReportAbuse" }}</a></li>
    </ul>

    <ul class="sitemap_list">
      <li><a href='{{ .LanguagePrefix }}/'>{{ i18n "sitemapWhatIsANewsReader" }}</a></li>
      <li><a href='{{ .LanguagePrefix }}/'>{{ i18n "sitemapNewsbinProGuide" }}</a></li>
      <li><a href='{{ .LanguagePrefix }}/'>{{ i18n "sitemapNewsleecherGuide" }}</a></li>
    </ul>

  </div>

</div>
