<html lang="en">
<head>
  <meta charset="utf-8">
  <title>404 Error</title>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Varela+Round" />
</head>
<body style="margin: 0px;">
<div style="width: 100%; text-align: center; background-color: #ba2e3b; padding-top: 40px; padding-bottom: 40px; margin: 0px;">
  <a href='/'><img src='/img/md_logo.png' title='NewsDemon'></a>
</div>
<div style="width: 100%; text-align: center;">
  <span style="font-family: varela round; font-size: 90px; line-height: 1.5em; color: #3d4955;">🤔</span>
  <span style="font-family: varela round; font-size: 100px; line-height: 2em; color: #3d4955; text-shadow: 2px 2px #c0c0c0;">404</span>
</div>
</body>
</html>
